
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--  PAGE HEADING -->

<section class="page-header">

    <div class="container">

        <div class="row">

            <div class="col-sm-12 text-center">


                <h3>
                    Giới thiệu về công ty chúng tôi
                </h3>

                <p class="page-breadcrumb">
                    <a href="@Url.Action("Index","Home")">Trang chủ</a> / Giới thiệu
                </p>


            </div>

        </div> <!-- end .row  -->

    </div> <!-- end .container  -->

</section> <!-- end .page-header  -->
<!--  ABOUT US -->

<section class="section-content-block">

    <div class="container">

        <div class="row">

            <div class="col-sm-6">
                <img src="../../Content/images/about_feat_bg_2.jpg" alt="" />
            </div>

            <div class="col-md-6 col-sm-12 text-left">

                <div class="about-us-intro about-us-overlay theme-custom-box-shadow">

                    <p class="our-experience">
                        Công ty TNHH
                        <br />
                        SX-TM <span>TIẾN HẢI </span>
                    </p>

                    Tiến Hải là nhà đại diện phân phối hóa chất cho các tập đoàn sản xuất hóa chất nước ngoài như Dow Chemicals, Waker, Basf, Munzing,...

                    @*<p class="margin-top-24">
                        <a href="#" class="btn btn-theme btn-square">Learn More</a>
                    </p>*@
                </div>
            </div> <!-- end .col-sm-12  -->

        </div>



        <div class="row counter-inline-container wow zoomIn">

            <div class="col-md-3 col-sm-6 col-xs-6">

                <div class="counter-block-2 counter-border">

                    <i class="icon fa fa-users"></i>
                    <div class="count-info">
                        <span class="counter">05 </span>
                        <span class="counter-postfix">+</span>
                        <p class="text-capitalize">Hoạt động</p>
                    </div>

                </div>

            </div> <!--  end .col-lg-3 col-md-3 col-sm-6 col-xs-12 -->

            <div class="col-md-3 col-sm-6 col-xs-6">

                <div class="counter-block-2 counter-border">

                    <i class="icon fa fa-smile-o"></i>

                    <div class="count-info">
                        <span class="counter">200</span>
                        <span class="counter-postfix">+</span>
                        <p class="text-capitalize">Khách hàng</p>
                    </div>

                </div>

            </div> <!--  end .col-lg-3 col-md-3 col-sm-6 col-xs-12 -->

            <div class="col-md-3 col-sm-6 col-xs-6">

                <div class="counter-block-2 counter-border">

                    <i class="icon fa fa-forumbee"></i>
                    <div class="count-info">
                        <span class="counter">100</span>
                        <span class="counter-postfix">%</span>
                        <p class="text-capitalize">Giao hàng tận nơi</p>
                    </div>

                </div>

            </div> <!--  end .col-lg-3 col-md-3 col-sm-6 col-xs-12 -->

            <div class="col-md-3 col-sm-6 col-xs-6">

                <div class="counter-block-2 counter-border">

                    <i class="icon fa fa-wrench"></i>
                    <div class="count-info">
                        <span class="counter">100</span>
                        <span class="counter-postfix">%</span>
                        <p class="text-capitalize">Xử lý các vấn đề kịp thời</p>
                    </div>

                </div>

            </div> <!--  end .col-lg-3 col-md-3 col-sm-6 col-xs-12 -->

        </div>  <!--  end .row  -->



    </div> <!--  end .container  -->

</section> <!--  end .section-content-block -->



